:root {
  --primary: #6fbf73;
  --secondary: #f5e6d3;
  --dark: #2c2c2c;
  --white: #ffffff;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}