.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 8%;
  background: rgba(255,255,255,0.9);
  backdrop-filter: blur(10px);

  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

/* LOGO */
.logo {
  font-size: 22px;
  font-weight: bold;
  color: var(--primary);
}

/* NAV */
.nav {
  display: flex;
  gap: 25px;
}

.nav a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  transition: 0.3s;
}

.nav a:hover {
  color: var(--primary);
}

/* BOTÃO */
.btn-header {
  background: var(--primary);
  color: white;
  padding: 10px 18px;
  border-radius: 999px;
  font-weight: bold;
}

/* MOBILE */
@media (max-width: 768px) {
  .nav {
    display: none;
  }
}