.hero {
  height: 70vh;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  padding-bottom: 40px;

  background: 
    linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)),
    url('/img/hero.png') center/cover no-repeat;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  overflow: hidden;
}